body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

.loginBox {
  background: linear-gradient(to right, #06327d 40%, #209d5c);
  width: 100vw; /* Full width */
  height: 100vh; /* Full height to cover the viewport */
  display: flex; /* Use flexbox to center the login box */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.login {
  width: 320px;
  padding: 30px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  text-align: center;
}

/* Headings */
.login h2 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #012461;
}

.login p {
  font-size: 14px;
  color: #06327d;
  margin-bottom: 20px;
}

/* Input fields */
.login input[type="text"],
.login input[type="password"] {
  color: #012461;
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border: 1px solid #ddd;
  border-radius: 8px;
  outline: none;
  font-size: 14px;
  transition: all 0.3s ease-in-out;
}

/* Focus effect */
.login input[type="text"]:focus,
.login input[type="password"]:focus {
  border-color: #1e3a8a;
  box-shadow: 0 0 5px rgba(30, 58, 138, 0.2);
}

/* Login button */
.login input[type="submit"] {
  width: 100%;
  padding: 12px;
  margin-top: 20px;
  background: #1e3a8a;
  color: white;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.login input[type="submit"]:hover {
  background: #143c72;
}

/* Register link */
.login .links {
  margin-top: 30px;
}

.login .links a {
  color: #1e3a8a;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  transition: 0.3s;
}

.login .links a:hover {
  text-decoration: underline;
  color: #143c72;
}