.banner {
  width: 100%;
  height: 100vh;
  display: flex;  
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.slides-container {
  position: relative;
  width: 100%;
  height: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.slide.active {
  opacity: 1;
}

.slide-arrow {
  position: absolute;
  top: 0; 
  height: 100%; 
  width: 50px;
  background: rgba(0, 0, 0, 0.05); 
  color: white;
  border: none;
  font-size: 24px;
  display: flex;
  align-items: center; 
  justify-content: center; 
  cursor: pointer;
  z-index: 2;
  opacity: 0; 
  transition: opacity 0.5s ease-in-out, background 0.3s ease-in-out;
}

.banner:hover .slide-arrow {
  opacity: 1; 
}

.slide-arrow:hover {
  background: rgba(0, 0, 0, 0.3);
}

.slide-arrow.left {
  left: 0;
}

.slide-arrow.right {
  right: 0;
}

.pagination-container {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 10px;
  list-style: none;
  padding: 0;
}

.dot {
  width: 8px;
  height: 8px;
  margin: 0 5px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  cursor: pointer;
}

.dot.active {
  background: rgba(0, 0, 0, 0.75);
}

.s1-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.s1-title {
  font-size: 2.8rem;
  font-weight: bold;
  margin-bottom: -5px;
}

.s1-subtitle {
  font-size: 1.2rem;
  max-width: 600px;
  margin-bottom: 20px;
}

.s1-btn {
  display: inline-block;
  padding: 12px 25px;
  font-size: 1.2rem;
  color: #06327D;
  background-color: #FFD034;
  border-radius: 25px;
  text-decoration: none;
  transition: all 0.3s ease;
  font-weight: 700;
  transform: scale(1);
  z-index: 10; 
}
  
.s1-btn:hover {
  background-color: #FFC107;
  font-weight: bolder;
  transform: scale(1.3);
}

.s2-content {
  display: flex;
  height: 100%;
  width: 100%;
}

.s2-gifbox, .s2-text {
  flex: 1;
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: black;
  border: solid 2px;
}

.s2-gifbox {
  padding-top: 3rem;
}

.s2-text {
  color: white;
  flex-direction: column; 
  justify-content: center; 

}

.s2-title {
  font-size: 2.8rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.s2-gif {
  width: 35rem;
}